body {
  margin: 0;
  font-family: "Nova Square", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #000;
  --bright: #FFF;
  --champagne: #DBC4A0;
}

input::placeholder{
  color: grey;
  font-size: 18px;
}
